.easycredit-method .easycredit-tooltip {
    position:absolute;
    font-weight:normal;
}
#easycredit-description>img {
 width: 46px;
 height: 35px;
}
#easycredit-description label {
 display:table;
 width: auto;
 font-weight: normal;
}
#easycredit-description label>input, #easycredit-description label>span {
 display:table-cell;
}
#easycredit-description label>input {
 margin-right:15px;
}
span.easycredit-disabled {
 -webkit-filter:grayscale(100%);
 filter:grayscale(100%);
}

#confirm--form .payment--content .easycredit-info-description .easycredit-info-logo,
.easycredit-method  label span {
    background-image:url(https://www.easycredit-ratenkauf.de/download/200x43_Ratenkauf_Logo_mitSubline.png); 
    background-position-x:center; 
    background-repeat:no-repeat; 
    background-size:contain; 
    text-indent:-1000px;
    display:inline-block; 
    height:30px; 
    width:145px; 
    overflow:hidden;
}

body.is--ctl-checkout.is--act-shippingpayment .panel--footer {
   position: fixed;
   bottom: 10%;
   background: #fff;
   width: 100%;
   padding: 15px;
   border-top: 1px solid @border-color;
   max-width:650px;
}
body.is--ctl-checkout.is--act-shippingpayment .address-manager--modal.address-manager--editor .address-editor--body {
   .unitize(padding-bottom, 50);
}
