easycredit-widget {
    margin: 10px 0;
}

.is--act-cart .easycredit-widget-container {
    display: flex;
    justify-content: end;
}

.easycredit-express-button-container + .paypal-unified-ec--outer-button-container {
    .paypal-unified-ec--button-container {
       margin-top: 0.9em;
    }
}

.ajax--cart .button--container .easycredit-express-button-container {
   margin-top: 0.9em;
}


/* express button styles */
.buybox--button-container .easycredit-express-button-container:after, .content--basket .easycredit-express-button-container:after {
    content: "";
    display:table;
    clear:both;
}
.buybox--button-container easycredit-express-button {
    width: 63%;
    float:right;
}
.buybox--button-container easycredit-express-button, .ajax--cart easycredit-express-button {
    margin-top: 0.925rem;
}

.content--basket easycredit-express-button {
    float:right;
}

/* marketing styles */
body.easycredit-box-top {
    padding-top: 50px !important;
}
easycredit-box-modal {
    position: relative;
    z-index: 3501;
}
