<div class="easycredit-intro clickandcollect">
    <div class="easycredit-intro__grid">
        <div class="easycredit-intro__content">
            <h2>Click & Collect</h2>

            <p>
            Sie wollen Click&Collect für den easyCredit-Ratenkauf nutzen?
            Nichts einfacher als das! Um das Feature nutzen zu können, benötigen Sie eine ergänzende Zusatzvereinbarung zu Ihrem Factoringvertrag.
            Sprechen Sie dazu einfach Ihren Key-Account-Manager an oder fragen Sie diesen über unser <a href="https://www.easycredit-ratenkauf.de/click-und-collect/" target="_blank">Click&Collect-Formular</a> an.
            </p>
            <p>
            Wichtig für Sie ist, dass Sie bei Nutzung von Click&Collect sicherstellen müssen, dass das gekaufte Produkt ausschließlich an den Vertragspartner übergeben wird. Die Verantwortung für die korrekte Übergabe liegt bei Ihnen als Händler.
            </p>
            <p>
            Bitte stellen Sie im Folgenden die Versandart mit der Sie Click&Collect anbieten ein:
            </p>
        </div>

        <a href="https://www.easycredit-ratenkauf.de/click-und-collect/" target="_blank" class="easycredit-intro__image bg">
        </a>
    </div>
</div>
