<div class="easycredit-intro__grid">
    <div class="easycredit-intro intro-2024">
        <div class="easycredit-intro__grid">
            <div class="easycredit-intro__content">
                <h2>Der einfachste Rechnungs- und Ratenkauf Deutschlands.</h2>
                <p>Wir freuen uns, dass Sie sich für easyCredit entschieden haben, die perfekte Zahlungsmethode für den Handel in Onlineshops.</p>
                <a
                    class="btn btn-secondary"
                    href="https://netzkollektiv.com/docs/easycredit-ratenkauf-shopware6/index.html"
                    target="_blank"
                >
                    Dokumentation
                </a>
                <a
                    class="btn btn-secondary"
                    href="https://easycredit-demo.netzkollektiv.com/"
                    target="_blank"
                >
                    Demoshop
                </a>
            </div>

            <div class="easycredit-intro__image fill aspect-2-3"></div>
        </div>
    </div>

    <div class="easycredit-intro intro-2024 dimmed faq">
        <div class="easycredit-intro__content">
            <h2>Sie haben Fragen? Wir helfen gerne.</h2>
            <p>Wir sind von Montag bis Freitag von 8:00 bis 18:00 Uhr für Sie erreichbar.</p>
            <ul>
                <li><a href="https://www.easycredit-ratenkauf.de/kontakt/" target="_blank">Fragen & Antworten</a></li>
                <li><a href="tel:091153902726" target="_blank">Rufen Sie uns an: 0911 5390-2726</a></li>
                <li><a href="https://www.easycredit-ratenkauf.de/kontakt/#b064f73c4cdfc080a73b69ea0125da53" target="_blank">Kontaktformular</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="easycredit-intro intro-2024 bill">
    <div class="easycredit-intro__grid">
        <div class="easycredit-intro__image fill aspect-36-2"></div>

        <div class="easycredit-intro__content">
            <span class="badge">Neu</span>
            <h2>easyCredit-Rechnung - die ideale Ergänzung zum Ratenkauf</h2>
            <p>Sie können Ihren Kunden mit easyCredit neben dem klassischen Ratenkauf nun auch den Kauf auf Rechnung anbieten. Das Zahlungsziel liegt dabei <strong>30 Tage in der Zukunft</strong>.</p>
            <a
                class="btn btn-secondary"
                href="/admin#/sw/settings/payment/overview"
            >
                Jetzt aktivieren
            </a>
            <a
                class="btn btn-link"
                href="https://www.easycredit-ratenkauf.de/produkt/"
                target="_blank"
            >
                Mehr erfahren
            </a>
        </div>
    </div>
</div>

<!--
<div class="easycredit-intro intro">
    <div class="easycredit-intro__grid">
        <div class="easycredit-intro__content">
            <h2>Mit easyCredit-Ratenkauf starten</h2>

            <ul>
                <li><a href="https://partner.easycredit-ratenkauf.de/registrierung/firmendaten" target="_blank">Als Händler registrieren</a></li>
                <li><a href="https://netzkollektiv.com/docs/easycredit-ratenkauf-shopware5/index.html" target="_blank">Dokumentation</a></li>
                <li><a href="https://easycredit-demo.netzkollektiv.com/" target="_blank">Demoshop mit easyCredit-Ratenkauf</a></li>
                <li><a href="https://www.easycredit-ratenkauf.de/kontakt/" target="_blank">Support</a></li>
            </ul>
        </div>

        <div class="easycredit-intro__image">
            <easycredit-logo></easycredit-logo>
        </div>
    </div>
</div>
-->
