<div class="easycredit-intro intro">
    <div class="easycredit-intro__grid">
        <div class="easycredit-intro__content">
            <h2>Mit easyCredit-Ratenkauf starten</h2>

            <ul>
                <li><a href="https://partner.easycredit-ratenkauf.de/registrierung/firmendaten" target="_blank">Als Händler registrieren</a></li>
                <li><a href="https://netzkollektiv.com/docs/easycredit-ratenkauf-shopware5/index.html" target="_blank">Dokumentation</a></li>
                <li><a href="https://easycredit-demo.netzkollektiv.com/" target="_blank">Demoshop mit easyCredit-Ratenkauf</a></li>
                <li><a href="https://www.easycredit-ratenkauf.de/kontakt/" target="_blank">Support</a></li>
            </ul>
        </div>

        <div class="easycredit-intro__image">
            <easycredit-logo></easycredit-logo>
        </div>
    </div>
</div>
