<div class="easycredit-intro marketing">
    <h2>Marketing</h2>

    <nav class="easycredit-intro__tabs">
        <a class="easycredit-intro__tab active" data-target="intro">Übersicht</a>
        <a class="easycredit-intro__tab" data-target="express">Express Button</a>
        <a class="easycredit-intro__tab" data-target="widget">Widget</a>
        <a class="easycredit-intro__tab" data-target="modal">Modal</a>
        <a class="easycredit-intro__tab" data-target="card">Card</a>
        <a class="easycredit-intro__tab" data-target="flashbox">Flashbox</a>
        <a class="easycredit-intro__tab" data-target="bar">Bar</a>
    </nav>

    <div class="easycredit-intro__tab-content marketing-intro active" data-tab="intro">
        <div class="easycredit-intro__grid">
            <div class="easycredit-intro__content">
                <p>
                Wir stellen Ihnen eine Reihe von Marketing-Komponenten zur Verfügung,
                die Sie ganz einfach in Ihrem Onlineshop aktivieren können.
                So erzielen Sie eine optimale Präsentation der Finanzierung über easyCredit-Ratenkauf,
                für höhere Umsätze und zufriedene Kunden.
                </p>

                <h3>Hilfreiche Links</h3>
                <ul>
                    <li><a href="https://netzkollektiv.com/docs/easycredit-ratenkauf-components/" target="_blank">Dokumentation</a></li>
                    <li><a href="https://easycredit-demo.netzkollektiv.com/" target="_blank">Demoshop mit Marketing-Komponenten</a></li>
                    <li><a href="https://www.easycredit-ratenkauf.de/marketingmaterial-schulung/" target="_blank">Marketing-Portal</a></li>
                </ul>
            </div>

            <div class="easycredit-intro__image">
                <div class="image"></div>
            </div>
        </div>
    </div>

    <div class="easycredit-intro__tab-content marketing-express" data-tab="express">
        <div class="easycredit-intro__grid">
            <div class="easycredit-intro__content">
                <p>
                Der Express-Button kann auf der Produktdetailseite und im Warenkorb angezeigt werden.
                Er ermöglicht Kunden das Produkt oder den Warenkorb ohne Umwege über den Bestellprozess zu kaufen.
                </p>

                <a href="#marketing-express" class="btn btn-secondary">Express-Button konfigurieren</a>
            </div>

            <div class="easycredit-intro__image bg">
            </div>
        </div>
    </div>

    <div class="easycredit-intro__tab-content marketing-widget" data-tab="widget">
        <div class="easycredit-intro__grid">
            <div class="easycredit-intro__content">
                <p>
                Die Widget-Komponente wird auf der Produktdetailseite und auch im Warenkorb angezeigt.
                Sie berechnet die günstigstmögliche Rate mit der ein Produkt mit einem bestimmten Preis finanziert werden kann.
                Bei Klick auf "mehr Infos" öffnet sich der Ratenrechner mit weiteren Details zur Finanzierung.
                Liegt der Produktpreis außerhalb der möglichen Finanzierungsbeträge
                weist das Widget auf Wunsch auf den minimal oder maximal möglichen Finanzierungsbetrag hin.
                </p>

                <a href="#marketing-widget" class="btn btn-secondary">Widget konfigurieren</a>
            </div>

            <div class="easycredit-intro__image bg">
            </div>
        </div>
    </div>

    <div class="easycredit-intro__tab-content marketing-modal" data-tab="modal">
        <div class="easycredit-intro__grid">
            <div class="easycredit-intro__content">
                <p>
                Die Modal-Komponente kann eingesetzt werden, um einen Kunden im Shop aktiv auf den Ratenkauf hinzuweisen.
                Ein zeitgesteuertes Einblenden des Modals ist möglich. Schliesst der Kunde das Modal,
                merkt die Komponente sich dies und verhindert ein weiteres Anzeigen.
                </p>

                <a href="#marketing-modal" class="btn btn-secondary">Modal konfigurieren</a>
            </div>

            <div class="easycredit-intro__image bg">
            </div>
        </div>
    </div>

    <div class="easycredit-intro__tab-content marketing-card" data-tab="card">
        <div class="easycredit-intro__grid">
            <div class="easycredit-intro__content">
                <p>
                Mit der Card-Komponente kann innerhalb der Produktliste ein Produkt
                durch einen Banner zur Bewerbung des Ratenkaufs ersetzt werden.
                Der Banner zeigt ein Standardbild, das sich überschreiben lässt.
                So können Sie ein zu ihrem Produktangebot passendes Bild verwenden.
                </p>

                <a href="#marketing-card" class="btn btn-secondary">Card konfigurieren</a>
            </div>

            <div class="easycredit-intro__image bg">
            </div>
        </div>
    </div>

    <div class="easycredit-intro__tab-content marketing-flashbox" data-tab="flashbox">
        <div class="easycredit-intro__grid">
            <div class="easycredit-intro__content">
                <p>
                Mit dieser Marketing-Komponente lässt sich ein Banner zur Bewerbung des Ratenkaufs
                am unteren Bildschirmrand einblenden.
                Der Banner zeigt ein Standardbild, das sich überschreiben lässt.
                So können Sie ein zu ihrem Produktangebot passendes Bild verwenden.
                </p>

                <a href="#marketing-flashbox" class="btn btn-secondary">Flashbox konfigurieren</a>
            </div>

            <div class="easycredit-intro__image bg">
            </div>
        </div>
    </div>

    <div class="easycredit-intro__tab-content marketing-bar" data-tab="bar">
        <div class="easycredit-intro__grid">
            <div class="easycredit-intro__content">
                <p>
                Die Bar-Komponente kann am oberen Bildschirmrand angezeigt werden
                und bewirbt den Ratenkauf mit kurzen Slogans.
                Die Slogans sind vorgegeben und können nicht angepasst werden.
                </p>

                <a href="#marketing-bar" class="btn btn-secondary">Bar konfigurieren</a>
            </div>

            <div class="easycredit-intro__image bg">
            </div>
        </div>
    </div>
</div>
