parameters:
  checkMissingIterableValueType: false
  level: 2
  scanDirectories:
    - vendor
    - ../../../../../../vendor
    - ../../../../../../engine
    - ../../../../../../var/cache/production_202211020949/doctrine
    - ../../../../../../var/cache/production_202211020949/proxies
  symfony:
    constant_hassers: false
    container_xml_path: ../../../../../../var/cache/production_202211020949/container.xml
  doctrine:
    queryBuilderClass: Shopware\Components\Model\QueryBuilder
    repositoryClass: Shopware\Components\Model\ModelRepository
  excludePaths:
    - vendor
  ignoreErrors:
    - # Legacy DI registration not recognized by phpstan
        message: '#is not registered in the container#'
        paths:
          - 'Controllers/Frontend/PaymentEasycredit.php'
          - 'Subscriber/OrderRefunded.php'
          - 'Subscriber/OrderShipped.php'
    - # Legacy methods < SW 5.2
        message: '#Call to an undefined method Shopware\\Components\\Model\\ModelManager::addAttribute\(\)#'
        paths:
          - Bootstrap.php 
    - # Legacy method < SW 5.2
        message: '#Call to an undefined method Doctrine\\Common\\Cache\\Cache::deleteAll\(\)#'
        paths:
          - Bootstrap.php 
    - # Legacy method < SW 5.2
        message: '#Call to an undefined method Enlight_Event_EventArgs::getSubject\(\)#'
        paths:
          - Subscriber/Backend.php
          - Subscriber/Frontend.php
